setuptools>=65.0.0,<70
asgiref==3.11.1
Django==6.0.2
django-cors-headers==4.9.0
django-environ==0.13.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
psycopg==3.3.3
psycopg2-binary==2.9.11
PyJWT==2.11.0
sqlparse==0.5.5
typing_extensions==4.15.0
python-dotenv==1.0.1
gunicorn==21.2.0
razorpay==1.4.2
firebase-admin==6.3.0
faker==20.1.0
whitenoise==6.6.0
gunicorn==21.2.0
dj-database-url==2.1.0
